<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">
  <header id="header" class="header fixed-top d-flex align-items-center">
    {{ partial "header.html" . }}
  </header>
  <main id="main">
    {{ partial "home/hero.html" . }}

    <!-- {{ partial "home/tree.html" . }} -->

    {{ partial "home/about.html" . }}

    {{ partial "home/stats.html" . }}

    {{ partial "home/services.html" . }}

    {{ partial "home/features.html" . }}

    <!-- {{ partial "home/portfolio.html" . }} -->

    <!-- {{ partial "home/pricing.html" . }} -->

    {{ partial "home/faq.html" . }}

    <!-- {{ partial "home/team.html" . }} -->

    {{ partial "home/cta.html" . }}

    <!-- {{ partial "home/testimonials.html" . }} -->

    <!-- {{ partial "home/recent-posts.html" . }} -->

    <!-- {{ partial "home/contact.html" . }} -->

    {{ partial "home/clients.html" . }}
  </main>
  <footer id="footer" class="footer">
    {{ partial "footer.html" . }}
  </footer>

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  {{ partialCached "head/js.html" . }}
</body>
</html>
