<!-- About Section - Home Page -->
<section id="about" class="about">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

            <div class="col-xl-6 content">
                <h3>About Us</h3>
                <h2>Claim Your First Identity Credential
                    In The Web3 Topics</h2>
                <p>Funon Card is a topic tags and influence score in Web3 through NLP technology. It is an identity credential in the Web3 content distribution network, with which users participate in content governance and earn rewards.</p>
                <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>

            <div class="col-xl-6">
                <div class="row gy-4 icon-boxes">

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <i class="bi bi-badge-hd"></i>
                            <h3>Content</h3>
                            <p>We create high-quality, engaging micro-short dramas.</p>
                        </div>
                    </div> <!-- End Icon Box -->

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box">
                            <i class="bi bi-distribute-vertical"></i>
                            <h3>Distribution</h3>
                            <p>We distribute our micro-short dramas to a wide range of platforms.</p>
                        </div>
                    </div> <!-- End Icon Box -->

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box">
                            <i class="bi bi-command"></i>
                            <h3>Marketing</h3>
                            <p>We promote our micro-short dramas through a variety of channels.</p>
                        </div>
                    </div> <!-- End Icon Box -->

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box">
                            <i class="bi bi-cup-hot"></i>
                            <h3>Partnerships</h3>
                            <p>We collaborate with a variety of partners.</p>
                        </div>
                    </div> <!-- End Icon Box -->

                </div>
            </div>

        </div>
    </div>

</section><!-- End About Section -->