<!-- Faq Section - Home Page -->
<section id="faq" class="faq">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="content px-xl-5">
                    <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
                    <p>
                        FAQs can help you make informed purchase decisions by providing comprehensive information 
                        about a product or service.
                    </p>
                </div>
            </div>

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                <div class="faq-container">
                    <div class="faq-item faq-active">
                        <h3><span class="num">1.</span> <span>How to Log In Using Your Funon Wallet through WalletConnect</span>
                        </h3>
                        <div class="faq-content">
                            <p>Funon DAO has launched a new feature in its V1.5.21 version, allowing users to log in using any created, 
                                connected, or imported wallets in Funon. This feature aims to offer convenience in verifying your 
                                on-chain interactions and assets on other platforms, particularly during the Odyssey</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3><span class="num">2.</span> <span>What is my account?</span></h3>
                        <div class="faq-content">
                            <p>Your account is your personal profile used for accessing our services. 
                                It contains your personal information, payment details, and subscription 
                                information..</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3><span class="num">3.</span> <span>How do I create an account?</span></h3>
                        <div class="faq-content">
                            <p>To create an account, you need to provide your email address and password. 
                                You can also choose to provide your name, address, and additional personal 
                                information.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3><span class="num">4.</span> <span>How can I make payments?</span></h3>
                        <div class="faq-content">
                            <p>We accept various payment methods, including credit cards, debit cards, 
                                and PayPal. You can choose to make payments monthly or annually.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <h3><span class="num">5.</span> <span>How do I cancel my subscription?</span></h3>
                        <div class="faq-content">
                            <p>To cancel your subscription, you can log in to your account and navigate 
                                to the "Settings" page. Then, click on "Cancel Subscription.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                </div>
            </div>
        </div>
    </div>
</section><!-- End Faq Section -->