<!-- Services Section - Home Page -->
<section id="services" class="services">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Our offering an unprecedented experience in viewing and content creation.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                    <div>
                        <h4 class="title"><a href="services-details.html" class="stretched-link">Recommendations</a></h4>
                        <p class="description">Curating hand-picked micro-dramas based on your interests, ensuring a tailored viewing experience.</p>
                    </div>
                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
                    <div>
                        <h4 class="title"><a href="services-details.html" class="stretched-link">Interactive</a></h4>
                        <p class="description">Engage with comments, likes, and shares, connecting with other viewers and creators, making your viewing more immersive.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
                    <div>
                        <h4 class="title"><a href="services-details.html" class="stretched-link">Reward</a>
                        </h4>
                        <p class="description">Earn tokens by watching content and participating in community interactions, making every moment of engagement rewarding.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
                    <div>
                        <h4 class="title"><a href="services-details.html" class="stretched-link">Creation Opportunities</a></h4>
                        <p class="description">Upload your micro-dramas, letting more audiences appreciate your creativity and efforts.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
                    <div>
                        <h4 class="title"><a href="services-details.html" class="stretched-link">Incentivized Rewards</a></h4>
                        <p class="description">Through smart contracts and token incentives, encouraging continuous creation and sharing of high-quality content.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
                <div class="service-item d-flex">
                    <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
                    <div>
                        <h4 class="title"><a href="services-details.html" class="stretched-link">Community Interaction</a></h4>
                        <p class="description"> Engage in platform decisions, interact with audiences, and establish connections with fans and viewers, adding value to your work.
                        </p>
                    </div>
                </div>
            </div><!-- End Service Item -->
        </div>
    </div>
</section><!-- End Services Section -->